<div class="formContainer">
  <div><h3>classic form</h3></div>
  <div>
    <form [formGroup]="specialityForm" (ngSubmit)="onSubmit()">
      <h2>Personnal informations</h2>
      <label>
        First Name:
        <input type="text" placeholder="required" formControlName="name" />*
      </label>
      <label
        >Phone number:
        <input
          type="text"
          placeholder="required"
          formControlName="phoneNumber"
        />
      </label>
      <label> Select prefered location: </label>
      <select
        formControlName="preferredLocation"
        (change)="selectLocation($event)"
      >
        <option *ngFor="let loc of locations" [ngValue]="loc">{{ loc }}</option>
      </select>
      <h2>Please select animals</h2>
      <div class="grouping" formGroupName="animals">
        <label>Dogs <input type="checkbox" formControlName="dogs" /></label>
        <label>Cats <input type="checkbox" formControlName="cats" /></label>
        <label
          >Reptiles<input type="checkbox" formControlName="reptiles"
        /></label>
      </div>
      <h2>Reference(s)</h2>
      <div
        class="grouping"
        formArrayName="references"
        *ngFor="let ref of references.controls; let i = index"
      >
        <label>
          Reference email
          <input type="text" placeholder="optional" [formControlName]="i" />
          <button type="button" id="remove_email" (click)="removeEmail(i)">
            X
          </button>
        </label>
      </div>
      <button type="button" (click)="addEmail()">Add another reference</button>
      <button id="apply_button">Apply</button>
    </form>
  </div>
</div>
